{% extends "base.html" %}

{% block title %}Chat room for "{{ course.title }}"{% endblock %}

{% block content %}
    <div id="chat">
    </div>
    <div id="chat-input">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="submit" value="Send">
    </div>
{% endblock %}

{% block domready %}
    let url = 'ws://' + window.location.host +
                '/ws/chat/room/' + '{{ course.id }}/';
    let chatSocket = new WebSocket(url);
    let $input = $('#chat-message-input');
    let $submit = $('#chat-message-submit');

    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        let message = data.message;
        let dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
        let datetime = new Date(data['datetime']).toLocaleString('en', dateOptions);
        let isMe = data.user === '{{ request.user }}';
        let source = isMe ? 'me' : 'other';
        let name = isMe ? 'Me' : data.user;
        let $chat = $('#chat');
        $chat.append(`
                <div class="message ${source}">
                    <strong>${name}</strong>
                    <span class="date">${datetime}</span>
                    <br>
                    ${message}
                </div>
            `);
        $chat.scrollTop($chat[0].scrollHeight);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    $submit.click(function() {
        let message = $input.val();

        if(message) {
            // send message in JSON format
            chatSocket.send(JSON.stringify({'message': message}));
            // clear input
            $input.val('');
            // return focus
            $input.focus();
        }
    });

    $input.focus();
    $input.keyup(function(e) {
        if (e.which === 13) {
            // submit with enter / return key
            $submit.click();
        }
    });
{% endblock %}

